@*@{
        Layout = null;
    }*@
<!DOCTYPE html>
<html>
<head>
    <link href="~/Models/Login/Login.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        var user;
        var pass;
        function logging() {

            @*var url = '@Url.Action("Index","MainSite")';
            window.location.href = url;*@
            @* document.location.href = '@Url.Action("Index","MainSite")';*@
              //var urll = "Index.cshtml";
            //window.location.href = urll;

            //var user = document.login.user.value;
            //var pass = document.login.password.value;

            var user = document.logowanieForm.user.value;
            window.location.href = '@Url.Action("Index","MainSite")';
            alert(user);
            @*if (user == "admin") {
                if (pass == "admin") {
                    window.location.href = '@Url.Action("Index","MainSite")';
                } else {
                    alert("Złe hasło!")
                }
            } else {
                alert("Zła nazwa użytkownika!")
            }*@

        }


        function redirect() {
            window.location.href = "Index";
             return false;
        }

        function alertIt() {
                alert("redirect");
        }
    </script>
    <title>Logowanie</title>
</head>
<body>
    <form id="myForm" method="get" action="">
        <div class="login-wrap" action="welcome_get.php" method="get">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Zaloguj</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Zarejestruj</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">Nazwa użytkownika</label>
                            <input id="useer" type="text" class="input" name="user">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Hasło</label>
                            <input id="password" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span>Pozostaw zalogowanym</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" id="demo" onclick="logging()" value="Zaloguj">

                            <input type="submit" value="validate" onclick="return redirect(); alertIt(); " />

                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Zapomniałem hasła</a>
                        </div>
                    </div>
                </div>




                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Nazwa użytkownika</label>
                        <input type="text" class="input" name="userid">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Hasło</label>
                        <input type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Powtórz hasło</label>
                        <input type="password" class="input" data-type="password">
                    </div>

                    <div class="group">
                        <button id="zarejestruj" class="button">Zarejestruj</button>
                    </div>

                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Masz konto?</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
